/* GLOBAL  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Hind', sans-serif;
}

/* start CLASS TITLE  */
.title {
    padding: 40px 0;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.title h2 {
    font-size: 2.25rem;
    line-height: 1.5em;
    font-weight: bold;
}

.title p {
    font-size: 1rem;
    line-height: 1.5em;
    color: #5d5d5d;

}

/* end CLASS TITLE  */

/* HEADER  */
header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

header .navbar-brand i {
    font-size: 2.8rem;
    color: #4aa22d;
    vertical-align: middle;
}

header .navbar .navbar-brand span {
    font-size: 2.25rem;
    vertical-align: middle;
}

#portfolio__Dropdown .nav-link {
    padding: 5px 15px;
    font-size: 1.1rem;
    color: white;
    letter-spacing: 1px;
}

#portfolio__Dropdown .active.nav-link {
    color: #4aa22d;
}

#portfolio__Dropdown .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #4aa22d;
    margin-top: 8px;
    transition: all .5s;
}

#portfolio__Dropdown .active.nav-link::after {
    width: 100%;
}

#portfolio__Dropdown .nav-link:hover::after {
    width: 100%;
}

header .navbar-toggler {
    background-color: #4aa22d;
}


/* CAROUSEL  */
.carousel #carouselPortfolioCaptions .carousel-item img {
    height: 100vh;
    object-fit: cover;
}

#carouselPortfolioCaptions .carousel-item .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carouselPortfolioCaptions .carousel-item .carousel-caption img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

#carouselPortfolioCaptions .carousel-item .carousel-caption h5 {
    font-size: 3.5rem;
}

#carouselPortfolioCaptions .carousel-item .carousel-caption p {
    font-size: 1.5rem;
}

#carouselPortfolioCaptions .carousel-indicators {
    bottom: 10vh;
}

#carouselPortfolioCaptions .carousel-indicators .carousel__circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#carouselPortfolioCaptions .carousel-indicators .carousel__circle.active {
    background-color: #4aa22d;
}

/* PROJECTS  */
.projects__Intro .nav-item .nav-link {
    color: #1a1d2d;
    background-color: none;
    border: 1px solid #1a1d2d;
    margin: 10px 5px;
    font-weight: 500;
}

.projects__Intro .nav-item .nav-link.active {
    color: white;
    background-color: #4aa22d;
    border: 1px solid #4aa22d;
}

.projects__Intro .tab-content .projects__content .card {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.projects__Intro .tab-content .projects__content .card .card-text h4 {
    transition: all .5s;
}

.projects__Intro .tab-content .projects__content .card:hover .card-text h4 {
    color: #4aa22d;
}

.projects__Intro .tab-content .projects__content .card .card-body {
    border: 1px solid transparent;
    border-top: none;
    border-radius: 0 0 20px 20px;
    transition: all .5s;
}

.projects__Intro .tab-content .projects__content .card:hover .card-body {
    border-color: #4aa22d;
}

/* FEATURE  */
.feature {
    background-image: url(../image/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

.feature__container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px 0 100px;
}

.feature__container .title p {
    color: white;
}

.feature__content .feature__item {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 40px;
    transition: all .5s;
}

.feature__content .feature__item i {
    font-size: 3rem;
    color: #4aa22d;
    padding-bottom: 20px;
}

.feature__content .feature__item:hover {
    border-color: white;
    background-color: black;
}

/* ADWARD  */
.adward {
    padding: 100px 0;
    background-image: url(../image/memphis_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.adward__left {
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.7);
}

.adward__left h3 {
    font-size: 2.25rem;
    font-weight: bold;
}

/* FOOTER  */
footer .container .nav {
    border-bottom: 1px solid #454545;
}

footer .nav-item i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s;
}

footer .nav-item i:hover {
    color: #4aa22d;
    border-color: #4aa22d;
}

/*###### RESPIONSIVE  #####*/
@media screen and (max-width: 991.98px) {
    #portfolio__Dropdown {
        background-color: white;
    }

    #portfolio__Dropdown .nav-link {
        color: #4aa22d;
    }

    #portfolio__Dropdown .nav-link:hover {
        color: white;
        background-color: #4aa22d;
    }

    #portfolio__Dropdown .nav-link::after {
        display: none;
    }
}

@media screen and (max-width: 424.98px) {
    header .navbar-brand i {
        font-size: 10vw;
    }

    header .navbar .navbar-brand span {
        font-size: 8vw;
    }

}

@media screen and (max-width: 374.98px) {
    #carouselPortfolioCaptions .carousel-item .carousel-caption h5 {
        font-size: 10vw;
    }

    #carouselPortfolioCaptions .carousel-item .carousel-caption p {
        font-size: 7vw;
    }
}